.ali{
  text-align: center;
  text-decoration: none;
  font-size: 30px;
}
.back{
  background-image: url("photos/page.jpg");
}
.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}
.login{
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #D61355;
  text-align: center;
}
.link{
  color: #F94A29;
  font-family: 'Indie Flower', cursive;
    text-shadow: 2px 0 #232931;
}
.mess{
  font-size: 3rem;
  color: #D61355;
  font-family: 'Indie Flower', cursive;
    text-shadow: 3px 0 #232931;
  text-align: center;
}

body {
  background-image: url("photos/background.jpg");
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 3rem;
  color: #0EA293;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.btn{
  position: absolute;
  left: 45%;
  top: 86%;
  background-color: #b30000;
  color: white;
  width: 150px;
  height: 30px;
  border-radius: 10px;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
